POSTGRES_DB=incident_management
POSTGRES_USER=opensource
POSTGRES_PORT=5432

ALERT_INGESTION_PORT=8001
INCIDENT_MGMT_PORT=8002
ONCALL_PORT=8003
NOTIFICATION_PORT=8004
WEB_UI_PORT=8080

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

TZ=UTC

RESEND_FROM=noreply@transcendence.games